* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Oswald", monospace;
}
@font-face {
	font-family: "Serenata";
	src: url("serenata.ttf") format("truetype");
	font-weight: light;
	font-style: normal;
}
a:link {
	text-decoration: none;
	color: inherit;
}
a:visited {
	color: inherit;
}
.nav-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	place-items: center;
	/* TODO: remove centering of items as header gets bigger in media query */
}
.logo-container {
	padding-top: 0.35rem;
	max-width: 300px;
	z-index: 99;
}
.logo-img {
	width: 100%;
	margin-left: 1rem;
}
.desktop-nav-info {
	display: none;
	font-size: 0.9rem;
}

.cta-button {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	display: none;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
	padding: 0.7rem 0.9rem;
	border-radius: 50px;
	animation: sh0 0.5s ease-in-out both 2000ms;
	font-weight: bold;
}

@keyframes sh0 {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}

	25% {
		transform: rotate(7deg) translate3d(0, 0, 0);
	}

	50% {
		transform: rotate(-7deg) translate3d(0, 0, 0);
	}

	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}

	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}
.desktop-nav {
	display: none;
	justify-content: space-around;
	font-size: 1rem;
	color: black;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background-color: whitesmoke;
}

.box {
	transition: 0.25s linear;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	margin: 0px;
	background: transparent;
	font-weight: bold;
}

.box:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom: 3px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
}

.box:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-top: 3px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
}

.box:hover:before {
	border-color: #1a81ff;
	height: 100%;
	transform: translateX(0);
	transition: 0.3s transform linear;
}

.box:hover:after {
	border-color: #1a81ff;
	height: 100%;
	transform: translateX(0);
	transition: 0.3s transform linear;
}

.desktop-nav-button {
	color: white;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
}
.active-pg {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-radius: 20px 20px 0 0;
	box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
	background-color: white;
}
.shadow {
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);
}

/* START NAVBAR */
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
	z-index: 98;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: black;
	margin: 6px 0;
	transition: 0.4s;
}
.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-6px, 6px);
}
.hamburger.is-active .bar {
	opacity: 0;
}
.hamburger.is-active:after {
	transform: rotate(45deg) translate(-7px, -9px);
}
.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	display: block;
	/* z-index: 50; */
	background-color: whitesmoke;
	color: white;
	padding-top: 4rem;
	transition: 0.3s;
}
.mobile-nav.is-active {
	left: 0;
}
.mobile-nav > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.4rem 1.5rem;
	margin: 1.3rem 0.7rem;
	/* background-image: url("images/help-banner.PNG");
	background-size: cover;
	background-repeat: repeat-x; */
	font-size: 1.4rem;
	border-radius: 10px;
	box-shadow: 2px 2px 25px -10px #bcc2c2;
}
/* END NAVBAR */
.cta-style {
	background: rgb(26, 129, 255);
	background: linear-gradient(180deg, rgba(26, 129, 255, 1) 47%, rgba(0, 103, 230, 1) 73%, rgba(0, 92, 204, 1) 100%);
	/* background-color: #1a81ff; */
	color: white;
}
li {
	list-style-type: none;
	padding-bottom: 0.5rem;
}
.is-fixed {
	overflow-y: hidden;
}
.hero-banner {
	/* z-index: -1; */
	display: flex;
	justify-content: center;
	background: rgb(200, 200, 200);
	background: linear-gradient(117deg, rgba(200, 200, 200, 1) 0%, rgba(230, 230, 230, 1) 50%);
}
.hero-padding {
	padding-top: 5rem;
}
.hero-banner-img {
	width: 100vw;
}
.hero-text {
	padding: 0.7rem 0.8rem;
	font-weight: 100;
}
.hero-body {
	font-size: clamp(1.06rem, 3vw + 0.2rem, 1.26rem);
	line-height: 1.7;
}

.drop-off-banner {
	background-blend-mode: luminosity;
	max-height: 30rem;
	max-width: fit-content;
}
h1 {
	font-weight: 100;
}
.hero-h2 {
	font-size: clamp(1.14rem, 3vw + 0.4rem, 1.31rem);
	font-weight: bold;
	padding: 1.2rem 0 0.6rem 0;
}
.bubble-background {
	background-image: url("images/help-banner-new.PNG");
	background-size: cover;
}
.nav-bubble-background {
	background-image: url("images/nav-bubbles.jpg");
	background-size: contain;
	background-repeat: repeat-x;
}
.help-banner {
	text-align: center;
	color: white;
	padding: 2.5rem;
	margin: 1rem 0;
	font-size: clamp(1.4rem, 3vw + 0.2rem, 3rem);
}
.card-deck {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	width: 18.8rem;
	height: 26rem;
	margin: 1rem;
	border-radius: 2%;
	box-shadow: 0 8px 50px #23232333;
	display: grid;
	grid-template-rows: 2fr 0.5fr 1fr;
	place-items: center;
}
.card-img-cont {
	margin: 2rem 2rem 0 2rem;
}
.card-title {
	font-size: clamp(1.5rem, 3vw + 0.2rem, 1.5rem);
	margin-bottom: 0;
}
.card-text {
	padding: 0 1.3rem 1.3rem 1.3rem;
	/* margin-top: -2rem; */
	font-size: clamp(1.07rem, 3vw + 0.2rem, 1.13rem);
}
.card-image {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}
.laundry-list-section {
	padding: 1rem;
}
.drop-off-body > ul > li {
	margin-bottom: 1rem;
}
.margin-left {
	margin-left: 1rem;
}
.margin-bottom {
	margin-bottom: 1.5rem;
}
.hero-title {
	font-family: "Serenata", serif;
	font-size: 2.5rem;
}
footer {
	background-color: black;
	opacity: 0.8;
	background-image: repeating-radial-gradient(circle at 0 center, transparent 0, black 10px), repeating-linear-gradient(#19191955, #191919);
	bottom: 0;
	left: 0;
	position: sticky;
	text-align: center;
	top: 100%;
	width: 100%;
	color: white;
	padding: 2rem;
	font-size: 1.1rem;
	font-weight: bolder;
}
.footer-info > * {
	margin: 1rem;
}
.footer-address {
	font-weight: 100;
}
.nav-directions::before {
	background-image: url("images/map-icon.PNG");
	background-size: 15px 15px;
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
}

.social {
	mix-blend-mode: hard-light;
	width: 55px;
	height: 55px;
	margin: 0.3rem 0.8rem;
}
.bold {
	font-weight: bold;
	font-family: inherit;
}
.uppercase {
	text-transform: uppercase;
}
.red {
	font-weight: bold;
	color: red;
}
.centered {
	place-self: center;
	text-align: center;
}
.flex-columns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.drop-off-individuals {
	margin: 1rem;
}
.blue {
	color: rgba(0, 103, 230, 1);
}
@media (min-width: 450px) {
	.bubble-background {
		background-size: contain;
		background-repeat: repeat-x;
	}
	.mobile-nav {
		padding-top: 7rem;
	}
	.logo-container {
		place-self: center start;
	}
	.hamburger {
		place-self: center end;
		margin-right: 3rem;
	}
}
@media (min-width: 770px) {
	.mobile-nav,
	.hamburger {
		display: none;
	}
	.nav-container {
		grid-template-columns: 1.4fr 0.5fr 0.5fr 0.6fr;
	}
	.logo-container {
		padding-top: 0.35rem;
		max-width: 300px;
	}
	.desktop-nav {
		display: flex;
	}
	.desktop-nav-info {
		display: contents;
	}
	.cta-button {
		display: block;
	}
	.service-flex-wrapper {
		display: flex;
	}
	.card {
		box-shadow: 0 8px 50px #23232333;
		transition: box-shadow 0.3s ease, transform 0.2s ease;
	}
	.card:hover {
		box-shadow: 0 8px 50px #23232370;
	}
	.flex-columns {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media (min-width: 1080px) {
	.hero-banner-img {
	}
}
